-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: spmi_ppepp
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.22-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `user_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prodi_id` int(11) DEFAULT NULL,
  `prodi_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `aksi` enum('CREATE','UPDATE','DELETE','RESTORE','LOGIN','LOGOUT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `modul` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `target_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `old_values` longtext COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `new_values` longtext COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_prodi` (`prodi_id`),
  KEY `idx_aksi` (`aksi`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=340 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bidang_standar`
--

DROP TABLE IF EXISTS `bidang_standar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bidang_standar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode_bidang` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_bidang` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bidang_standar`
--

LOCK TABLES `bidang_standar` WRITE;
/*!40000 ALTER TABLE `bidang_standar` DISABLE KEYS */;
/*!40000 ALTER TABLE `bidang_standar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fakultas`
--

DROP TABLE IF EXISTS `fakultas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fakultas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode_fakultas` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_fakultas` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_dekan` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nidn_dekan` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_wadek` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nidn_wadek` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `periode_jabatan` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '2022 - 2026',
  `deskripsi` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `logo_fakultas` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_fakultas` (`kode_fakultas`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fakultas`
--

LOCK TABLES `fakultas` WRITE;
/*!40000 ALTER TABLE `fakultas` DISABLE KEYS */;
/*!40000 ALTER TABLE `fakultas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `landing_settings`
--

DROP TABLE IF EXISTS `landing_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `landing_settings` (
  `setting_key` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `setting_value` longtext COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `setting_group` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'general',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `landing_settings`
--

LOCK TABLES `landing_settings` WRITE;
/*!40000 ALTER TABLE `landing_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `landing_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppepp_document_file_sub_bidang`
--

DROP TABLE IF EXISTS `ppepp_document_file_sub_bidang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppepp_document_file_sub_bidang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `document_file_id` int(11) NOT NULL,
  `sub_bidang_id` int(11) NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_file_sub` (`document_file_id`,`sub_bidang_id`),
  KEY `fk_dfs_file` (`document_file_id`),
  KEY `fk_dfs_sub` (`sub_bidang_id`),
  CONSTRAINT `fk_dfs_file` FOREIGN KEY (`document_file_id`) REFERENCES `ppepp_document_files` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dfs_sub` FOREIGN KEY (`sub_bidang_id`) REFERENCES `sub_bidang_standar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppepp_document_file_sub_bidang`
--

LOCK TABLES `ppepp_document_file_sub_bidang` WRITE;
/*!40000 ALTER TABLE `ppepp_document_file_sub_bidang` DISABLE KEYS */;
INSERT INTO `ppepp_document_file_sub_bidang` VALUES (1,9,28,'2026-10-05 18:27:02'),(2,1,1,'2026-10-05 18:27:02'),(3,2,1,'2026-10-05 18:27:02'),(4,3,1,'2026-10-05 18:27:02'),(5,7,1,'2026-10-05 18:27:02'),(6,4,47,'2026-10-05 18:27:02'),(7,8,17,'2026-10-05 18:27:02');
/*!40000 ALTER TABLE `ppepp_document_file_sub_bidang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppepp_document_files`
--

DROP TABLE IF EXISTS `ppepp_document_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppepp_document_files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `document_id` int(11) NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_size` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_extension` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `narasi` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sub_bidang_ids` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_page_limited` tinyint(1) NOT NULL DEFAULT 1,
  `public_page_limit` int(11) NOT NULL DEFAULT 1,
  `can_download_public` tinyint(1) NOT NULL DEFAULT 0,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_doc_files_doc` (`document_id`),
  CONSTRAINT `fk_doc_files_doc` FOREIGN KEY (`document_id`) REFERENCES `ppepp_documents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppepp_document_files`
--

LOCK TABLES `ppepp_document_files` WRITE;
/*!40000 ALTER TABLE `ppepp_document_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `ppepp_document_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppepp_document_sub_bidang`
--

DROP TABLE IF EXISTS `ppepp_document_sub_bidang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppepp_document_sub_bidang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `document_id` int(11) NOT NULL,
  `sub_bidang_id` int(11) NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_doc_sub` (`document_id`,`sub_bidang_id`),
  KEY `fk_ds_doc` (`document_id`),
  KEY `fk_ds_sub` (`sub_bidang_id`),
  CONSTRAINT `fk_ds_doc` FOREIGN KEY (`document_id`) REFERENCES `ppepp_documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ds_sub` FOREIGN KEY (`sub_bidang_id`) REFERENCES `sub_bidang_standar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppepp_document_sub_bidang`
--

LOCK TABLES `ppepp_document_sub_bidang` WRITE;
/*!40000 ALTER TABLE `ppepp_document_sub_bidang` DISABLE KEYS */;
/*!40000 ALTER TABLE `ppepp_document_sub_bidang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppepp_documents`
--

DROP TABLE IF EXISTS `ppepp_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppepp_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prodi_id` int(11) DEFAULT NULL,
  `fakultas_id` int(11) DEFAULT NULL,
  `level` enum('prodi','fakultas') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'prodi',
  `user_id` int(11) NOT NULL,
  `bidang_id` int(11) DEFAULT NULL,
  `sub_bidang_id` int(11) DEFAULT NULL,
  `nama_dokumen` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor_dokumen` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `siklus` enum('penetapan','pelaksanaan','evaluasi','pengendalian','peningkatan') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun_akademik` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal_berlaku_mulai` date DEFAULT NULL,
  `tanggal_berlaku_selesai` date DEFAULT NULL,
  `jenis_upload` enum('file','link') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'file',
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_extension` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `external_link` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `public_page_limit` int(11) NOT NULL DEFAULT 1,
  `can_download_public` tinyint(1) NOT NULL DEFAULT 0,
  `status_review` enum('draft','belum_direview','perlu_perbaikan','sudah_diperbaiki','sesuai') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'belum_direview',
  `catatan_review` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reviewed_by` int(11) DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_docs_prodi` (`prodi_id`),
  KEY `fk_docs_user` (`user_id`),
  KEY `fk_docs_bidang` (`bidang_id`),
  KEY `fk_docs_reviewer` (`reviewed_by`),
  KEY `fk_docs_fakultas` (`fakultas_id`),
  CONSTRAINT `fk_docs_bidang` FOREIGN KEY (`bidang_id`) REFERENCES `bidang_standar` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_docs_fakultas` FOREIGN KEY (`fakultas_id`) REFERENCES `fakultas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_docs_prodi` FOREIGN KEY (`prodi_id`) REFERENCES `prodis` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_docs_reviewer` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_docs_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppepp_documents`
--

LOCK TABLES `ppepp_documents` WRITE;
/*!40000 ALTER TABLE `ppepp_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `ppepp_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prodis`
--

DROP TABLE IF EXISTS `prodis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prodis` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fakultas_id` int(11) NOT NULL,
  `kode_prodi` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prodi` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenjang` enum('D3','S1','S2','S3','Profesi') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'S1',
  `nama_kaprodi` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nidn_kaprodi` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_sekprodi` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nidn_sekprodi` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_prodi` (`kode_prodi`),
  KEY `fk_prodis_fakultas` (`fakultas_id`),
  CONSTRAINT `fk_prodis_fakultas` FOREIGN KEY (`fakultas_id`) REFERENCES `fakultas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prodis`
--

LOCK TABLES `prodis` WRITE;
/*!40000 ALTER TABLE `prodis` DISABLE KEYS */;
/*!40000 ALTER TABLE `prodis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_bidang_standar`
--

DROP TABLE IF EXISTS `sub_bidang_standar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_bidang_standar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bidang_id` int(11) NOT NULL,
  `kode_sub_bidang` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_sub_bidang` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_sub_bidang_bidang` (`bidang_id`),
  CONSTRAINT `fk_sub_bidang_bidang` FOREIGN KEY (`bidang_id`) REFERENCES `bidang_standar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_bidang_standar`
--

LOCK TABLES `sub_bidang_standar` WRITE;
/*!40000 ALTER TABLE `sub_bidang_standar` DISABLE KEYS */;
/*!40000 ALTER TABLE `sub_bidang_standar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('super_admin','admin_lpm','kepala_pusat_mutu','kepala_lpm','dekan','wadek','gpm','kaprodi','sekprodi','pengguna') COLLATE utf8mb4_unicode_ci NOT NULL,
  `avatar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prodi_id` int(11) DEFAULT NULL,
  `fakultas_id` int(11) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_prodi` (`prodi_id`),
  KEY `fk_users_fakultas` (`fakultas_id`),
  CONSTRAINT `fk_users_fakultas` FOREIGN KEY (`fakultas_id`) REFERENCES `fakultas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_users_prodi` FOREIGN KEY (`prodi_id`) REFERENCES `prodis` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-06 13:06:40
